.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.carousel {
  width: 70%;
  margin: auto;
}
.carousel-item img {
  height: 500px;
  width: 60%;
  object-fit: contain;
  filter: brightness(0.7);
}

.carousel-caption {
  border-radius: 15px;
  padding: 30px;
  backdrop-filter: blur(5px);
  width: 40%;
  text-align: center;
  margin: auto;
}

.carousel-caption h5 {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.carousel-indicators [data-bs-target] {
  background-color: black;
}
#next,
#prev {
  background-color: #e4c9c6;
  opacity: 1;
  width: 5%;
}
